
<nav class="navbar h-[80px] border-b px-5" x-data="">
  <div class="max-w-screen-xl h-full mx-auto flex items-center justify-between">
    <a href="/" class="font-semibold text-xl">Ihsan Blocks</a>
    <div class="">
      {% if request.user.is_authenticated %}
        <a href="/logout" class="px-5 py-3 rounded-lg bg-red-500 text-red-50">Logout</a>
      {% else %}
        <a href="/login" class="px-5 py-3 rounded-lg bg-blue-500 text-blue-50">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
